<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated Tree -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="io.typefox.xtextxmi.tree.presentation.TreeModelWizardID"
            name="%_UI_TreeModelWizard_label"
            class="io.typefox.xtextxmi.tree.presentation.TreeModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TreeModelFile.gif">
         <description>%_UI_TreeModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated Tree -->
      <editor
            id="io.typefox.xtextxmi.tree.presentation.TreeEditorID"
            name="%_UI_TreeEditor_label"
            icon="icons/full/obj16/TreeModelFile.gif"
            extensions="tree"
            class="io.typefox.xtextxmi.tree.presentation.TreeEditor"
            contributorClass="io.typefox.xtextxmi.tree.presentation.TreeActionBarContributor">
      </editor>
   </extension>

</plugin>
